@model SQLClient_Products.Models.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product: @Model.Name</h2>

@if (ViewBag.Error != null)
{
    <div class="warning">@ViewBag.Error</div>
}

<form action="@Url.Action("Edit", "Products")" method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" required placeholder="Enter Name" value="@Model.Name">
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description" name="Description" required placeholder="Enter Description" value="@Model.Description">
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input type="text" class="form-control" id="Price" name="Price" required placeholder="Enter Price" value="@Model.Price">
    </div>
    <div class="form-group">
        <label for="ImageUrl">ImageUrl</label>
        <input type="url" class="form-control" id="ImageUrl" name="ImageUrl" required placeholder="Enter Image URL" value="@Model.ImageUrl">
    </div>


    <button type="submit" class="btn btn-default">Save Changes</button>
</form>
